# Ignore environment files
.env

# Ignore downloads folder and all its subdirectories
downloads/

# Ignore the virtual environment folder
.venv

# Ignore editor and IDE-specific settings
.idea/

# Ignore the downloader folder and all its contents, including __pycache__
downloader/__pycache__/
